* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  border: 1px solid red; /* DEBUG */
  display: flex;
  justify-content: center;
  padding: 24px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

.header-container {
  border: 1px solid red; /* DEBUG */
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
}

.nav-links > li {
  list-style-type: none;
}

.nav-links > li > a {
  text-decoration: none;
}

.nav-links > li:last-of-type {
  margin-left: 32px;
}

.main-container {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bio {
  border: 1px solid red; /* DEBUG */
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: 20px auto;
  align-items: center;
}

.stack-container {
  border: 1px solid red; /* DEBUG */
  display: flex;
  flex-direction: column;
  width: 900px; /* Da cambiare quando si implementa il container principale */
  margin: 0 auto; /* Forse da togliere */
}

.stack-title {
  border: 1px solid red; /* DEBUG */
  display: flex;
  justify-content: flex-start;
}

.stack {
  display: flex;
  flex-direction: column;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
}

.tech {
  display: flex;
  border: 1px solid red; /* DEBUG */
}

.tech-logo {
  border: 1px solid blue; /* DEBUG */
}

.project-container {
  border: 1px solid red; /* DEBUG */
  display: flex;
  flex-direction: column;
  width: 900px; /* Da cambiare quando si implementa il container principale */
  margin: 20px auto; /* Forse da togliere */
}

.section-title {
  display: flex;
  justify-content: flex-start;
}

.project-list {
  border: 1px solid red; /* DEBUG */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  border: 1px solid red; /* DEBUG */
  display: flex;
  flex-direction: column;
  width: 275px;
  overflow-wrap: break-word;
}

.footer {
  border: 1px solid red; /* DEBUG */
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contact.html */

.social-container {
  border: 1px solid red; /* DEBUG */
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: 20px auto;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-container {
  border: 1px solid red; /* DEBUG */
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: 20px auto;
  gap: 20px;
}

.form {
  border: 1px solid red; /* DEBUG */
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

input {
  padding: 7px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 14px;
}

textarea {
  font-size: 14px;
  min-height: 200px;
  max-width: 100%;
  resize: none;
  padding: 7px;
}

button {
  width: 100%;
  font-size: 16px;
  padding: 10px 40px;
  cursor: pointer;
  margin-top: 8px;
}

@media (max-width: 1024px) {
  .bio,
  .stack-container,
  .project-container,
  .social-container,
  .form-container {
    width: 95%;
  }
}
